div#content p {
    font-size: 1.3em !important;
}

body li:not(.is-marginless) {
    font-size: 1.2em !important;
}

div#contentTitle {
    text-transform: none !important;
    text-decoration: none !important;
}