[submodule "themes/hugo-whisper-theme"]
	path = themes/hugo-whisper-theme
	url = https://github.com/zerostaticthemes/hugo-whisper-theme.git
[submodule "themes/perplex"]
	path = themes/perplex
	url = https://github.com/bowman2001/perplex
[submodule "themes/docsy"]
	path = themes/docsy
	url = https://github.com/google/docsy
[submodule "themes/Font-Awesome"]
	path = themes/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome
[submodule "themes/github.com/twbs/bootstrap"]
	path = themes/github.com/twbs/bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "themes/shadocs"]
	path = themes/shadocs
	url = https://github.com/jgazeau/shadocs.git
